<div class="container-fluid">
  <header class="jumbotron hero-spacer">
<!-- 注册模板控制部分 -->
<div class="modal fade" id="signUP_panel_modal2" role="dialog" style="display: none;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4><span class="glyphicon glyphicon-lock"></span> 注册</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
		<form role="form" action="/sessions/signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ZEJ7sLLH/Jjgi9GCYwvtgHVe7ptI9s+GOWq2j8S++YLmlFBgWcofTx+g3U7WX1+B1m04IgBzUTTtxDSfVTZtCA==">

            <div class="form-group">
              <label for="session_email">账号密码注册</label>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input class="form-control" placeholder="输入邮箱" type="email" name="session[email]" id="session_email">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <input class="form-control" placeholder="输入密码" type="password" name="session[password]"       id="session_password">
              </div>
            </div>
	    <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input class="form-control" placeholder="输入手机号码" type="telnumber" name="session[telnumber]"       id="session_telnumber">
              </div>
            </div>
	    <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <input class="form-control" placeholder="支付宝账号密码" type="daiding" name="session[daiding]"       id="session_daiding">
              </div>
            </div>
            <button name="button" type="submit" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-off"></span> 注册
</button>
</form>
      </div>

      <div class="modal-footer">
        <p class="text-center">牢记账号与密码</p>
      </div>

    </div>

  </div>

</div>

<script>
  // 这个地方是模态框的启动函数
  $(document).ready(function () {
    $("#signup_panel").click(function (e) {
      e.preventDefault();
      //这里是启动上面的模态框
      $("#signUP_panel_modal2").modal();
    });
  });
</script>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

</script>

<!-- 首页部分 -->
    <h1>A Warm Welcome to Rails Chat!</h1>
    <p>一个Rails Chat测试版本</p>

    <p>
      <% if current_user %>
          hello! <%= current_user.name %>
      <% else %>
          <!--这个东西启动登录的模态框-->
          <a href="#" class="btn btn-primary btn-large" id="login_panel"> 登 录!</a>
          <!--这个东西启动注册的模态框-->
          <a href="#" class="btn btn-primary btn-large" id="signup_panel"> 注 册!</a>
      <% end %>

    </p>

    <h3>
      目前功能
    </h3>
    <li>聊天室消息即时推送</li>
    <li>支持查找，添加，删除好友</li>
    <li>创建私人聊天，也支持多人聊天</li>
    <li>房主可以拉人，踢人</li>
    <li>房主能转移房屋权限</li>
    <h3>
      TODO
    </h3>
    <li>现在的即时推送只限于聊天的消息，其他的推送比如未读信息提醒（包括声音）等还未涉及</li>
    <li>添加好友需要对方同意，现在是单方面添加</li>
    <li>用户个人简介还未开发</li>
    <li>UI界面修改（类似WeChat）</li>
    <li>管理后台开发</li>

    <h3>
      Usage
    </h3>
    <li>测试账号密码分别为: user1@test.com, password （邮箱后的数字代表不同用户）</li>
    <li>请用两个浏览器分别登陆不同的用户来测试消息的即使推送，注意这两个用户需要互为好友</li>

  </header>

  <hr>
  <hr>
</div>
