<div class="container-fluid">
  <!--  <header class="jumbotron hero-spacer"></header>-->
  <!-- 首页部分 -->
  <div class="world">
  <div class="box">
    <div class="plane1">
      <div class="heart"></div>
    </div>
    <div class="plane2">
      <div class="heart"></div>
    </div>
  </div>
  <div class="box">
    <div class="plane1">
      <div class="heart"></div>
    </div>
    <div class="plane2">
      <div class="heart"></div>
    </div>
  </div>
  <div class="box">
    <div class="plane1">
      <div class="heart"></div>
    </div>
    <div class="plane2">
      <div class="heart"></div>
    </div>
  </div>
  <div class="box">
    <div class="plane1">
      <div class="heart"></div>
    </div>
    <div class="plane2">
      <div class="heart"></div>
    </div>
  </div>
  <div class="box">
    <div class="plane1">
      <div class="heart"></div>
    </div>
    <div class="plane2">
      <div class="heart"></div>
    </div>
  </div>
  </div>
<% if current_user %>
 <p></p>
      <% else %>
          <!--这个东西启动登录的模态框-->
          <a href="#" class="btn" id="login_panel"> 登 录</a>
          <!--这个东西启动注册的模态框-->
          <a href="#" class="btn" id="signup_panel"> 注 册</a>
<% end %> 
<div class="quote--container">
    <p class="quote">
  <span class="quote--highlight"><% if current_user %>
          欢迎来到小禅聊天室! <%= current_user.name %>
  <% else %>
  您还没有登录哦！
      <% end %></span>
  
<h3>目前功能</h3>
    <li>聊天室消息即时推送</li>
    <li>用户注册功能</li>
    <li>用户个人信息查看编辑功能</li>
    <li>机器人聊天功能</li>
    <li>用户打分功能</li>
    <li>聊天总评分计算功能</li>
    <li>支持查找，添加，删除好友</li>
    <li>创建私人聊天，也支持多人聊天</li>
    <li>房主可以拉人，踢人</li>
    <li>房主能转移房屋权限</li>
<h3>
      TODO
    </h3>
    <li>现在的即时推送只限于聊天的消息，其他的推送比如未读信息提醒（包括声音）等还未涉及</li>
    <li>添加好友需要对方同意，现在是单方面添加</li>
    <li>管理后台开发</li>
    </p>
</div>
  <script>

  </script>

  <!-- 注册模板控制部分 -->
  <div class="modal fade" id="signUP_panel_modal2" role="dialog" style="display: none;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> 注册</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <!--          <form role="form" accept-charset="UTF-8">-->
          <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ZEJ7sLLH/Jjgi9GCYwvtgHVe7ptI9s+GOWq2j8S++YLmlFBgWcofTx+g3U7WX1+B1m04IgBzUTTtxDSfVTZtCA==">

          <div class="form-group">
            <label>账号密码注册</label>
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
              <input class="form-control" placeholder="输入邮箱" id="new_email">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
              <input class="form-control" placeholder="输入用户名" id="new_name">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
              <input class="form-control" placeholder="输入密码" type="password" id="new_password">
            </div>
          </div>
          <button id="add_new_user_button" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-off"></span> 注册
          </button>
        </div>

        <div class="modal-footer">
          <p class="text-center">牢记账号与密码</p>
        </div>

      </div>

    </div>

  </div>

</div>

<script>
  var user_name1;
  var user_email1;
  var user_password1;
  var err;
    // 这个地方是模态框的启动函数user_password1
    $(document).ready(function () {
        $("#signup_panel").click(function (e) {
            e.preventDefault();
            //这里是启动上面的模态框
            $("#signUP_panel_modal2").modal();
        });

        $("#add_new_user_button").click(function (e) {
            //傻逼，艹！
            //获取用户名、用户的邮箱、用户的密码
            user_name1 = $("#new_name").val();
            user_email1 = $("#new_email").val();
            user_password1 = $("#new_password").val();
            alert(user_password1)
            //有空的
            if (user_name1 == "" || user_email1 == "" || user_password1 == "") {
                alert("请完整填写");
                return;
            }

            //新建用户并接受返回值
            err = add_new_user(user_name1, user_email1 , user_password1);

            if (err == 1) {
                //创建成功，刷新页面
                alert("添加新用户成功！");
                location.reload();
                return;
            } else {
                //用户名或邮箱重复
                alert("用户名或邮箱重复！");
                return;
            }
        });
    });
</script>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

</script>
