<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4><span class="glyphicon glyphicon-lock"></span> 登录</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">

      <form role="form" action="/sessions/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="yYpzetslP8AOTPs1BVLtxgS1hrY4zVc+yyMoszFCkOu4bQ0HDVEbp+abLGKvC5WfLADqWPuCMrDrX3RyIWjVqQ==">

        <div class="form-group">
          <label for="session_email">账号密码登陆</label>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
            <input class="form-control" placeholder="输入邮箱" type="email" name="session[email]" id="session_email">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input class="form-control" placeholder="输入密码" type="password" name="session[password]" id="session_password">
          </div>
        </div>

        <div class="checkbox">
          <label><input name="session[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me">记住我</label>
        </div>

        <button name="button" type="submit" class="btn btn-primary btn-block">
          <span class="glyphicon glyphicon-off"></span> 登陆
        </button>
      </form>      </div>

    <div class="modal-footer">
      <p class="text-center">没有账号? 请联系管理员</p>
    </div>

  </div>

</div>
<script>
    $(document).ready(function () {
        $("#login_panel").click(function (e) {
            e.preventDefault();
            $("#panel_modal").modal();
        });
    });
</script>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

</script>

<p>
  <a href="#" class="btn btn-primary btn-large" id="login_panel"> Log in!</a>
</p>

<div class="btn btn-primary btn-large">
  <a href="/signup/sign_up">注册</a>
</div>